/* app/static/css/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container-wrapper {
    max-width: 720px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.radio {
    width: 250px;
    margin: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.bottom-banner {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playing-radio-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.bottom-banner p {
    margin: 0;
}

.bottom-banner a {
    margin: 0 10px;
}

.bottom-banner img {
    width: 30px;
    height: 30px;
}