<!-- app/templates/index.html -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask my PiRadio{% if playing_radio %} - {{ playing_radio['name'] }}{% endif %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="bottom-banner">
        {% if playing_radio %}
        <img src="{{ url_for('static', filename='images/' + playing_radio['image']) }}"
            alt="{{ playing_radio['name'] }}" class="playing-radio-image">
        <a href="{{ url_for('mute') }}"><img src="{{ url_for('static', filename='images/mute.svg') }}" alt="Mute"></a>
        <a href="{{ url_for('unmute') }}"><img src="{{ url_for('static', filename='images/unmute.svg') }}"
                alt="Unmute"></a>
        <a href="{{ url_for('stop') }}"><img src="{{ url_for('static', filename='images/stop.svg') }}" alt="Stop"></a>
        {% else %}
        <p>Aucune lecture en cours</p>
        {% endif %}
    </div>

    <div class="container-wrapper">
        <div class="container">
            {% for radio in radios %}
            <a href="{{ url_for('play', radio_id=radio['id']) }}" class="radio">
                <img src="{{ url_for('static', filename='images/' + radio['image']) }}" alt="{{ radio['name'] }}"
                    title="{{ radio['name'] }}">
            </a>
            {% endfor %}
        </div>
        <br />
        <br />
        <br />
    </div>
</body>

</html>